<div class="container">
    <h1 style="text-align: center; padding-top: 10px;">Host grading</h1>
    <table mat-table [dataSource]="dataSourceHostGrading">
        <ng-container matColumnDef="guest">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Guest </th>
            <td mat-cell *matCellDef="let grade" class="cell-center">{{grade.guestEmail}}</td>
        </ng-container>
        <ng-container matColumnDef="host">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Host </th>
            <td mat-cell *matCellDef="let grade" class="cell-center">{{grade.hostEmail}}</td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="cell-center"> Date </th>
          <td mat-cell *matCellDef="let grade" class="cell-center">{{grade.date | date:'dd.MM.yyyy. HH:mm' }}</td>
        </ng-container>
        <ng-container matColumnDef="grade">
          <th mat-header-cell *matHeaderCellDef class="cell-center"> Grade </th>
          <td mat-cell *matCellDef="let grade" class="cell-center">{{grade.grade}}</td>
        </ng-container>
        <ng-container matColumnDef="averageGrade">
            <th mat-header-cell *matHeaderCellDef class="cell-center"> Average grade </th>
            <td mat-cell *matCellDef="let grade" class="cell-center">{{grade.averageGrade | number:'1.2-2'}}</td>
          </ng-container>
        <ng-container matColumnDef="change">
            <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
            <td mat-cell *matCellDef="let grade" class="cell-center">
              <button mat-raised-button color="primary" [disabled]="check(grade)" (click)="openChangeHostGradeDialog(grade)">Change</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
          <td mat-cell *matCellDef="let grade" class="cell-center">
            <button mat-raised-button color="warn" [disabled]="check(grade)" (click)="deleteHostGrade(grade)">Delete</button>
          </td>
      </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsHostGrading; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsHostGrading;"></tr>
    </table>
    <div style="text-align: center;padding: 10px;">
        <button style="padding: 20px;" mat-raised-button color="primary" (click)="openCreateHostGradeDialog()">Create</button>
    </div>
  </div>