<mat-toolbar color="primary" class="container">
    <div class="logo" (click)="goToHomePage()">
        <img class="logo-img" src="./../../../../assets/logo.png">
    </div>
    <div class="pages">
        <div class="guest-pages" *ngIf="!(user$ | async)">
            <!-- TODO: Ovde dodavati dugmad za neulogovanog korisnika -->
            <app-navbar-button (click)="goToHomePage()">Home</app-navbar-button>
        </div>
        <div *ngIf="(user$ | async); let user">
            <ng-container class="user-pages" *ngIf="user.roles.includes('user')">
                <!-- TODO: Ovde dodavati dugmad za obicnog korisnika -->
                <app-navbar-button (click)="goToHomePage()">Home</app-navbar-button>
            </ng-container>
            <ng-container class="admin-pages" *ngIf="user.roles.includes('admin')">
                <!-- TODO: Ovde dodavati dugmad za administratora -->
                <app-navbar-button (click)="goToHomePage()">Home</app-navbar-button>
            </ng-container>
        </div>
    </div>
    
    <div>
        <app-navbar-button *ngIf="!(user$ | async)" (click)="login()">Login</app-navbar-button>
        <app-navbar-button *ngIf="(user$ | async)" (click)="logout()">Logout</app-navbar-button>
    </div>
</mat-toolbar>

