

<div class="container">
  <form [formGroup]="formGroup1">
    <mat-form-field>
      <mat-label>Location</mat-label>
      <input matInput  name="Location" formControlName="address" [(ngModel)]="address">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Number of guests</mat-label>
      <input matInput  type="number" min="1"   name="numberOfGuests" formControlName="numberOfGuests" [(ngModel)]="numberOfGuests">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="picker1"  name="start-date" formControlName="startDate" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="picker2"  name="end-date" formControlName="endDate" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  
    <button class="button" mat-raised-button color="primary" (click)="search()" [disabled]="!formGroup1.valid">Search</button>
  </form>
  <form >
    <mat-form-field>
      <mat-label>Minimal price</mat-label>
      <input matInput  type="number" min="0"   name="minPrice"  [(ngModel)]="minPrice">
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Maximal price</mat-label>
      <input matInput  type="number" min="0"   name="maxPrice"  [(ngModel)]="maxPrice">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Benefits</mat-label>
      <mat-select [(value)]="selectedIndexes" multiple>
          <mat-option *ngFor="let benefit of benefitList; let i = index" [value]="i">{{benefit}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-slide-toggle color="primary" [(ngModel)]="isHost" name="hosts">is Host highlighted?</mat-slide-toggle>
  
    <button class="button" mat-raised-button color="primary" (click)="filter()" >Filter</button>
  </form>
  <table mat-table [dataSource]="dataSourceAcc">
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="cell-center"> Name </th>
          <td mat-cell *matCellDef="let acc" class="cell-center  clickable-cell" (click)="showPictures(acc)">{{acc.name}}</td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Address </th>
        <td mat-cell *matCellDef="let acc" class="cell-center clickable-cell" (click)="showPictures(acc)">{{acc.address}}</td>
      </ng-container>
      <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="cell-center"> Price </th>
          <td mat-cell *matCellDef="let acc" class="cell-center clickable-cell" (click)="showPictures(acc)">{{acc.price}}</td>
      </ng-container>
      <ng-container matColumnDef="priceCalculation">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Price calculation </th>
        <td mat-cell *matCellDef="let acc" class="cell-center clickable-cell" (click)="showPictures(acc)">{{acc.priceCalculation}}</td>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef class="cell-center"> Total price </th>
      <td mat-cell *matCellDef="let acc" class="cell-center clickable-cell" (click)="showPictures(acc)">{{acc.price * numOfDays}}</td>
  </ng-container>
      <ng-container matColumnDef="benefits">
        <th mat-header-cell *matHeaderCellDef class="cell-center"> Benefits </th>
        <td mat-cell *matCellDef="let acc" class="cell-center clickable-cell" (click)="showPictures(acc)">{{acc.benefits}}</td>
      </ng-container>
      <ng-container matColumnDef="min">
          <th mat-header-cell *matHeaderCellDef class="cell-center"> Minimal number of guests </th>
          <td mat-cell *matCellDef="let acc" class="cell-center clickable-cell" (click)="showPictures(acc)">{{acc.min}}</td>
      </ng-container>
      <ng-container matColumnDef="max">
          <th mat-header-cell *matHeaderCellDef class="cell-center"> Maximal number of guests </th>
          <td mat-cell *matCellDef="let acc" class="cell-center clickable-cell" (click)="showPictures(acc)">{{acc.max}}</td>
      </ng-container>
      <ng-container matColumnDef="reservation">
        <th mat-header-cell *matHeaderCellDef class="cell-center"></th>
        <td mat-cell *matCellDef="let acc" class="cell-center">
          <button mat-raised-button color="primary" [disabled]="!user || user.roles.includes('host')" (click)="openDialog(acc)">Make reservation</button>
        </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsFlights; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsFlights;"></tr>
  </table>
  <div>
    <img *ngFor='let preview of previews' [src]="preview.base64" class="preview">
  </div>
</div>
